* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #lockOverlay {
    position: absolute;
    display: block;
    background-image: url("lock-and-chain.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter: blur(5px);
    z-index: 1000;
    pointer-events: none;
  }
  body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #3498db, #2ecc71);
  }
  
  .title {
    text-align: center;
    color: #ecf0f1;
    margin: 15px;
    font-size: 2.5em;
  }
  
  main {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .board {
    
    border: 5px solid #ecf0f1;
    border-radius: 10px;
    background-color: #34495e;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .board tr {
    width: 100%;
  }
  
  .board tr td {
    cursor: pointer;
    font-size: 2em;
    background-color: #2c3e50;
    width: 100px;
    height: 100px;
    border: 2px solid #ecf0f1;
    text-align: center;
    color: #ecf0f1;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .board tr td:hover {
    background-color: #2c3e50;
    transform: scale(1.05);
  }
  
  footer {
    margin: 15px;
    text-align: center;
    color: #ecf0f1;
  }
  
  .GUI {
    margin: 15px;
    text-align: center;
  }
  
  #resetBtn {
    padding: 15px;
    margin: 15px;
    color: white;
    background-color: #e74c3c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #resetBtn:hover {
    background-color: #c0392b;
  }
  
  #invite-link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  input {
    width: 200px;
    padding: 8px;
    margin-top: 5px;
    border: 2px solid #ecf0f1;
    border-radius: 5px;
    outline: none;
  }
  
  input:focus {
    border-color: #3498db;
  }
  .name {
    text-align: center;
  }